*.o
*.d
*.bc
*.ll
*.so
*.tar
*.log
*.tmp
*.out
*.swp
csim
csim-ref
proxy
proxy-ref
test-csim
test-trans
test-trans-simple
tracegen-ct
mdriver
mdriver-*
mm-native*
mm-emulate*
runtrace
sdriver
tsh
tshref
wrapper.so
file_generator
results.log
grader_output.txt
